{% extends "base.html.twig" %}
{% block title %}Logements - {% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Nos</span> Logements</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="best-deal">
        <div class="container">
            <div class="row">

                {% for advert in listAdverts %}
                <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">


                    <div class="fh5co-property">
                        <figure>
                           <img src="{{ asset('uploads/adverts/images/' ~ advert.firstImage) }}" style="height:250px" class="img-responsive">
                            <a href="{{ path ('advert', {'id': advert.id}) }}" class="tag">Voir plus</a>
                        </figure>
                        <div class="fh5co-property-innter">
                            <h3><a href="#">{{ advert.address}}</a></h3>
                            <div class="price-status">
                                <span class="price">{{   advert.type}} </span>
                            </div>
                            <p>{{   advert.limitedText|raw}}</p>
                        </div>

                        <p class="fh5co-property-specification">
                            Loyer hors charges <span><strong>{{ advert.price}}€/mois</strong></span> <br>

                    </div>


                </div>


                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
                    <nav>
                        <ul class="pagination">
                            {% if page>1 %}
                                <li>
                                    <a href="{{ path('nos-logements', {'page': page-1}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for p in range(1, nbPages) %}
                                <li{% if p == page %} class="active"{% endif %}>
                                    <a href="{{ path('nos-logements', {'page': p}) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                {% if page< nbPages %}
                                    <a href="{{ path('nos-logements', {'page': page+1}) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
    {% block javascripts %}



    {% endblock %}

