{% extends "base.html.twig" %}
{% block title %}Contact - {% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Contactez</span> nous</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="fh5co-contact animate-box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h3>Contact Info.</h3>
                    <ul class="contact-info">
                        <li><i class="icon-map"></i>8, avenue Gustave Charlery 97300 Cayenne</li>
                        <li><i class="icon-phone"></i>05 94 28 48 69</li>
                        <li><i class="icon-mobile-phone"></i>05 94 21 95 65</li>
                        <li><i class="icon-fax"></i>05 94 28 48 70</li>
                        <li><i class="icon-globe"></i><a href="#">www.lakle.com</a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-md-push-1 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">

                                    {{ form_errors(form.name) }}
                                    {{ form_widget(form.name,{'attr': {'placeholder':'Nom', 'class':'form-control' }}) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">

                                    {{ form_errors(form.email) }}
                                    {{ form_widget(form.email,{'attr': {'placeholder': 'Email', 'class':'form-control'}})}}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">

                                    {{ form_errors(form.message) }}
                                    {{ form_widget(form.message, {'attr': {'placeholder': 'Message','class':'form-control', 'rows':'7'}}) }}
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input value="Envoyer" class="btn btn-primary" type="submit">
                                </div>
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="animate-box" data-animate-effect="fadeIn"></div>
{% endblock %}
{% block javascripts %}

    <!-- Google Map -->
    <script>
        function initMap() {
            var lakle = {lat: 4.940988, lng: -52.31750999999997};
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: lakle
            });
            var marker = new google.maps.Marker({
                position: lakle,
                map: map
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrQL_c6RoayVkQDzIqsJBwlhbc9UrzmBM&callback=initMap"></script>



{% endblock %}
