{% extends "base.html.twig" %}
{% block title %}{{ article.title }} - {% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <h1><span class="colored">{{ article.title }}</span></h1><p>{{ article.date|date('d/m/Y') }}</p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-testimonial">
        <div class="container">
            <div class="row">


                <div class="col-md-8 col-md-offset-2 item-block animate-box" data-animate-effect="fadeIn">


                        <p>{{ article.content|raw }}</p>
                    {% for photo in article.photos %}
                        <img src="{{ asset(('uploads/articles/photos/' ~ photo.photo)| imagine_filter('my_thumb')) }}"
                             alt="{{ photo.photo }}" >

                    {% endfor %}
                    <p>
                    {% for attachment in article.attachments %}
                        <p><a href="{{ asset ('uploads/articles/attachments/' ~ attachment.attachment)}}"><i class="icon-document"></i> {{ attachment.name }}</a> </p>

                    {% endfor %}
                    </div>

                </div>
            </div>


        </div>




{% endblock %}
    {% block javascripts %}


    {% endblock %}
