{% extends "base.html.twig" %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/slide_6.jpg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Toutes</span> Nos actualités</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="best-deal">
        <div class="container">
            <div class="row">


                <div class="col-md-8 col-md-offset-2 item-block animate-box" data-animate-effect="fadeIn">

                    {% for article in listArticles %}
                        <h1>{{ article.title }}</h1>
                        <h2>{{ article.date|date('d/m/Y') }}</h2>
                        <p>{{ article.limitedText }}</p>
                        <p><a href="{{ path ('article', {'id': article.id}) }}" class="btn btn-primary">Voir plus</a></p>
                        <hr>
                    {% endfor %}


                </div>

            </div>


        </div>
        <div class="row">
            <div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
                <nav>
                    <ul class="pagination">
                        <li class="disabled">
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% for p in range(1, nbPages) %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ path('actualites', {'page': p}) }}">{{ p }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>



{% endblock %}
    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <!-- jQuery Easing -->
        <script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
        <!-- Bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Waypoints -->
        <script src="{{ asset('js/jquery.waypoints.min.js') }}"></script>
        <!-- Flexslider -->
        <script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>

        <!-- MAIN JS -->
        <script src="{{ asset('js/main.js') }}"></script>

    {% endblock %}
