{% extends "base.html.twig" %}
{% block title %}Actualités - {% endblock %}
{% block description %}Toutes les actualités du site Laklé, agence immobilière à vocation sociale en Guyane{% endblock %}
{% block content %}
    <div class="fh5co-page-title" style="background-image: url({{ asset('images/header.jpeg') }});">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 animate-box">
                    <h1><span class="colored">Toutes</span> nos actualités</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-blog">
        <div class="container">

            <div class="row">
                {% for article in listArticles %}

                    <div class="col-md-4 animate-box" data-animate-effect="fadeIn">
                        <div class="fh5co-entry">
                            <figure>
                                <img src="{{ asset('images/cle.png') }}"
                                     alt="Free Website Template, Free HTML5 Bootstrap Template" class="img-responsive">
                            </figure>
                        <div class="fh5co-copy">
                            <h3>{{ article.title }}</h3>
                            <span class="fh5co-date">{{ article.date|date('d/m/Y') }}</span>
                            <p>{{ article.limitedText }}</p>
                            <p><a href="{{ path ('article', {'id': article.id}) }}" class="btn btn-primary">Voir
                                    plus</a></p>
                        </div>
                        </div>
                    </div>
                {% endfor %}


            </div>


            <div class="row">
                <div class="col-md-12 text-center animate-box" data-animate-effect="fadeIn">
                    <nav>
                        <ul class="pagination">
                            {% if page>1 %}
                                <li>
                                    <a href="{{ path('actualites', {'page': page-1}) }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for p in range(1, nbPages) %}
                                <li{% if p == page %} class="active"{% endif %}>
                                    <a href="{{ path('actualites', {'page': p}) }}">{{ p }}</a>
                                </li>
                            {% endfor %}
                            <li>
                                {% if page< nbPages %}
                                    <a href="{{ path('actualites', {'page': page+1}) }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
    {% block javascripts %}

    {% endblock %}
